@font-face {
    font-family: 'Stem regular';
    src: url('../../fonts/Stem-Regular.ttf');
}
@font-face {
    font-family: 'Stem bold';
    src: url('../../fonts/Stem-Bold.ttf');
}
@font-face {
    font-family: 'Stem light';
    src: url('../../fonts/Stem-Light.ttf');
}
@font-face {
    font-family: 'Stem semilight';
    src: url('../../fonts/Stem-SemiLight.ttf');
}
@font-face {
    font-family: 'Stem thin';
    src: url('../../fonts/Stem-Thin.ttf');
}
@font-face {
    font-family: 'Stem medium';
    src: url('../../fonts/Stem-Medium.ttf');
}

.wrapper {
    background-color: #FAB439;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 230px;
    height: 50px;
    position: absolute;
    top: 45px;
    left: 45px;
}

.back__img {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("auth_back.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: 100%;
    width: 60%;
    z-index: 1;
}

.auth_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    z-index: 2;
}

.auth__title {
    font-size: 64px;
    font-family: 'Stem medium';
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.input__suptitle {
    font-size: 25px;
    font-family: 'Stem semilight';
    color: #fff;
    align-self: flex-start;
    margin-bottom: 9px;
}

.input {
    outline: none;
    border: none;
    width: 100%;
    border-radius: 18px;
    padding: 15px 15px;
    font-size: 30px;
    margin-bottom: 20px;
}
.input_last {
    outline: none;
    border: none;
    width: 100%;
    border-radius: 18px;
    padding: 10px 15px;
    font-size: 30px;
    margin-bottom: 60px;
}